@use 'variaveis';
@use 'mixins';

.menu{
    display: none;
    text-align: left;
    margin-left: auto;

    &__group{
        display: block;
        list-style: none;
        text-align: left;
        position: relative; 
        right: 0;
        top: 5vh;       
        cursor: pointer;
    }

    &__item{
        margin-left: 1vh;
    }
}

.material-icons.header__burguer{
    font-size: 8vh;
    color: variaveis.$cor-padrao;
    position: absolute; 
    top: 2vh;        
    right: 2vh;     
    cursor: pointer;
}

.header__burguer:hover{
    color: variaveis.$cor-padrao-hover;
}

.formulario_botao{
    @include mixins.botao-padrao;
}

.formulario_botao:hover{
    background-color: variaveis.$cor-padrao;
    color: variaveis.$cor-padrao-hover;
}
