@use 'variaveis';
@use 'mixins';

.header{
    @include mixins.gradiant-padrao;
    padding: variaveis.$espacamento;
    text-align: left;
    display: flex;       
    align-items: center;   
    gap: 1%; 

    &__imagem{
        width: 20%;
        height: 20%;
    }
}

.main{
    flex: 1;
    display: grid;         
    justify-content: left;  
    margin: 1.25rem auto;
    padding: variaveis.$tamanho-padding;
    background-color: rgb(48, 28, 134);
    border-radius: 0.5rem;

    &__item{
        flex: 1;
        margin: 1%;
        padding: 1%;
        background-color: variaveis.$cor-padrao;
        text-align: left;
    }

    &__item-ul{
        list-style: decimal;
        padding: variaveis.$tamanho-padding;
    }

    &__formulario{
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
    }

    &__input{
        width: 100%;
        max-width: 100%;
        box-sizing: border-box; 
    }
}

.footer{
    @include mixins.gradiant-padrao;
    color: variaveis.$cor-padrao;
    position: relative;
    text-align: center;
    font-weight: bold;
    padding: 1vh;
}